services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    environment:
      NODE_ENV: development
      PORT: 3000
    command: npm run start:dev
    ports:
      - "${DEV_PORT:-3000}:3000"
    volumes:
      - ./:/app
      - /app/node_modules
      - ./public:/app/public
      - ./logs:/app/logs